* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto';
  font-style: normal;
}

a {
  text-decoration: none;
}

@mixin fontProperty($font-weight, $font-size, $line-height, $color) {
  font-weight: $font-weight;
  font-size: $font-size;  
  line-height: $line-height;
  color: $color;
}

$font-color1: #333B41;
$font-color2: #FE9013;
$font-color3: #BDBDBD;
$font-color4: #767474;
$font-color5: #FFFFFF;

.first-block{
  background: url("../../assets/img/GiantPanda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 780px;
  position: relative;

  &-header {    
    width: 500px;
    height: 400px;
    top: 74px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    @include fontProperty(700, 106.496px, 75%, $font-color5);
    text-align: center;
    text-transform: uppercase;
    position: relative;

    &-wrapper{
      position: relative;
      right: 0;
      left: auto;
      top: 12px;
      min-height: 487px;
    }

    &-colored{
      color: #FFEE2E;
    }
  }
}

.header {
  background-color: 
  rgba(0, 0, 0, 1);

  &-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-list{
    display: flex;    
  }

  &-list-item {
    list-style: none;
    margin-right: 58px; 
  }

  &-list-item-link {
    @include fontProperty(500, 16px, 140%, $font-color5);
    transition: all 200ms ease-in-out;

    &:hover {
      color: $font-color2;
    }

    &-active {
      color:rgba(249, 128, 75, 1)
    }
  }  
}

.petStory-logo {
  display: block;
  width: 82px;
  height: 52px;
  padding: 3.55px 4.75px;
  @include fontProperty(400, 19.0145px, 120%, $font-color5);
  text-align: center;
  border: 1.18841px solid #FFFFFF;
  background-image: url(../../assets/logo/bamboo.svg);
  background-repeat: no-repeat;
  background-position: 8px 24.6px;
  margin-right: 63px;
}

.designed {
  @include fontProperty(500, 16px, 140%, $font-color5);
  transition: all ease-in-out 200ms;

  &:hover {
    color: $font-color2;
  }
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.watch-your {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  gap: 69px;
}

.button {
  @include fontProperty (500, 16px, 140%, $font-color5);
  display: block;
  width: 298px;
  padding: 16px 4px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  transition: all 200ms ease-in-out;

  &:hover {
    background:  linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
    cursor: pointer;
  }

  &:active {
    background:linear-gradient(113.96deg, #4B9200 1.49%, #4B9200 101.44%);
  }

  &-centred {
    margin: 0 auto;
    border-radius: 25px;
  }

  &-left {
    border-radius: 5px;
  }
}

.circle {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -74px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.backstage {
  padding-top: 140px;
  padding-bottom: 175px;
  background-image: url("../../assets/img/flower_foto1.jpg");
  background-position: right 10px;
  background-repeat: no-repeat;

  &-container {
    display: flex;
    gap: 87px;
  }

  &-img {
    max-width: 609px;
    max-height: 403px;
    height: auto;
  }

  &-header {
    @include fontProperty(400, 48px, 120%, $font-color1); 
    margin: 0 0 20px 0;
  }

  &-paragraph {
    @include fontProperty(400, 16px, 140%, $font-color1);    
  }

  h3 {
    @include fontProperty(400, 24px, 120%, $font-color1);
    margin: 54px 0 34px 0;
  }
}

.pets {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 100px;
  background: url(../../assets/img/palm_foto.jpg), url(../../assets/img/strelitzia.jpg);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.pets-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &-button {
    width: 62px;
    height: 62px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in-out 200ms;

    &:hover {
      background: linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
    }

    &:active {
      background: linear-gradient(113.96deg, #4B9200 1.49%, #4B9200 101.44%);
    }
  
  }
  
}

.pet-cards {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;   
}

.pet-card {
  width: 366px;
  height: 426px;
  border: 1px solid rgba(254, 144, 19, 1);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;

  &-img {    
    width: 100%;
    height: 86%;
    transition: all 300ms ease-in-out;

    &-active{
      transform: scale(105.4%);
    }
  }

  &-content {
    position: absolute;
    top: 364px;
    transition: all 400ms ease-in-out;
    width: 100%;
    background-color: transparent;
  }

  &-content-active {
    width: 100%;
    height: 20%;
    position: absolute;    
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: $font-color5;
  }
  
  &-meal {
    position: absolute;
    right: 13px;
    bottom: 10px
  }

  h3 {
    @include fontProperty(500, 16px, 140%, #000000);
    margin-left: 16px;
    margin-top: 8px;    
    text-transform: uppercase;    
  }

  h6 {
    @include fontProperty(300, 15px, 120%, #000000);
    margin-left: 16px;
    margin-bottom: 14px;
  }
}

.pick-friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 69px;
  padding-bottom: 100px;

  &-content {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 41px 0 59px 0;

    &-header {
      @include fontProperty (400, 48px, 120%,$font-color2);
      text-align: center;      
    }

    &-paragraph1,
    &-paragraph2,
    &-paragraph3 {
      margin-left: 99px;      
    }

    &-paragraph1 {
      @include fontProperty(400, 24px, 120%, $font-color1);
      margin-top: 30px;
      margin-bottom: 40px;
    }

    &-paragraph2 {
      @include fontProperty(500, 16px, 130%, $font-color1);
      margin-bottom: 10px;
    }

    &-paragraph3 {
      @include fontProperty(400, 16px, 130%, $font-color1);
      max-width: 863px;
    }
  }
}

.arrow {
  align-self: baseline;
  margin-top: 60px;
}

.underlined {
  text-decoration: underline;
  text-decoration-color: $font-color2;
  color: $font-color1;
}

.how-it-work-header {
  @include fontProperty(400, 36px, 130%, $font-color1);
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

.how-it-work-block{
  display: flex;
  justify-content: center;
  gap: 30.5px;
  margin-bottom: 60px;
}

.how-it-work-action {
  width: 168px;
  height: 244px;  

  &-pay,
  &-zoo,
  &-dish {
    width: 168px;
    height: 168px;
    border: 1px solid;    
    border-image: linear-gradient(rgba(250, 111, 50, 1), rgba(254, 144, 19, 1)) 30;
    border-radius: 5px;    
  }

  &-pay {
    background: url(../../assets/img/pay.svg), #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
  }
  &-zoo {
    background: url(../../assets/img/zoo.svg), #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
  }
  &-dish {
    background: url(../../assets/img/monkey.svg), #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-descript {
    @include fontProperty(400, 16px, 140%, $font-color1);
    margin-top: 30px;
  }
}

.testimonials {
  padding-bottom: 180px;
  background: url("../../assets/img/leav_foto.jpg");
  background-repeat: no-repeat;
  background-position: right 136%;

  &-wrapper {
    display: flex;
    gap: 29px;
  }

  &-header {
    @include fontProperty (400, 36px, 130%, $font-color1);
    text-align: center;
    margin-top: 140px;
    margin-bottom: 47px;
  }

}

.testimonial {
  position: relative;
  width: 268px;
  height: 391px;
  background: #F1F3F2;
  border-radius: 20px;
  padding: 15px 14px 12px 18px;
  border: 2px solid  rgba(243, 169, 248, 0.66);
  overflow: hidden;

  &-author {
    @include fontProperty(400, 16px, 120%, #000000);  

    &-photo {
      float: left;
      margin-right: 10px
    }

    &-data {
    @include fontProperty(300, 15px, 120%, $font-color3);
    }
  }

  &-content {
    @include fontProperty(300,15px, 120%,$font-color4);
    margin-top: 10px;
  }

}

.footer{
  background-color: #111115;;
  padding-bottom: 50px;

  &-line1 {
    display: flex;
    padding: 41px 0 36px;
    justify-content: space-between;
  }

  &-line2 {
    display: flex;
    margin-top: 44px;
    justify-content: space-between;
    align-items: flex-end
  }

}

.subscribe {

  &-header {
    @include fontProperty(400, 24px, 120%, $font-color5);
    display: block;
  }

  &-input {
    width: 228px;
    height: 42px;
    border: 0.7px solid rgba(249, 128, 75, 1);
    padding: 10px 7px 10px 10px;
    border-radius: 2px;
    background-color: transparent;
    font-size: 16px;
    line-height: 140%;
    color: $font-color4;
    margin-top: 14px;
    margin-right: 10px;

    &:focus:invalid {
      border: 2px solid #be0101;
      outline: none;
    }

    &:focus:invalid ~ .subscribe-submit {
      border: 2px solid #be0101;
      color: #be0101;
    }

    &:focus:valid {
      border: 1px solid #4B9200;
      color: #4B9200;
      outline: none;      
    }
    
  }

  &-submit {
    width: 129px;
    height: 42px;
    @include fontProperty(400, 16px, 140%, #4B9200);
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    transition: all 200ms ease-in-out;

    &:hover{
      background-color: darken($color: #F1F3F2, $amount: 20);
    }

  }

}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 25%;

  &-item {
    display: block;
    align-items: center;
  }

  &-img {
    display: block;
    margin: 5px auto;
  }
  
  &-img-background {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    display: inline-block;
  }

  &-link {
    @include fontProperty(300, 16px, 140%, $font-color5);
    vertical-align: super;
    margin-left: 12px;
    transition: all ease-in-out 200ms;

    &:hover{
      color: #4B9200;
    }
  }  

}

.footer-designed {
  @include fontProperty(100, 16px, 130%, $font-color5 );
  transition: all ease-in-out 200ms;

  &:hover {
    color: #4B9200;
  }

  & p:last-child{
    margin-top: 10px;
  }
}

.footer-nav-list-item-link{
  @include fontProperty(400, 16px, 140%, $font-color5)
}

input[type=range].styled-slider {  
  -webkit-appearance: none;
  width: 599px;
  height: 8px;
  margin: 21px auto 31px;
  display: block;
}

input[type=range].styled-slider:focus {
  outline: none;
}

input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 116px;
  height: 6px;
  border-radius: 0;
  background: #FE9013;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(max((8px - 1px - 1px) * 0.5,0px) - 6px * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 8px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background: #F5F7F6;
  box-shadow: none;
}