* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
  font-style: normal;
}

a {
  text-decoration: none;
}

.first-block {
  background: url("../../assets/img/GiantPanda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 780px;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .first-block {
    min-height: 584px;
    background-position-x: -100px;
  }
}
.first-block-header {
  width: 500px;
  height: 400px;
  top: 74px;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .first-block-header {
    font-size: 85px;
    top: 31px;
    right: 6px;
    gap: 41px;
  }
}
.first-block-header-wrapper {
  position: relative;
  right: 0;
  left: auto;
  top: 12px;
  min-height: 487px;
}
.first-block-header-colored {
  color: #FFEE2E;
}

.header {
  background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 1280px) {
  .header {
    position: relative;
    z-index: 10;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
}
.nav-list-item {
  list-style: none;
  margin-right: 58px;
}
@media screen and (max-width: 1280px) {
  .nav-list-item {
    margin-right: 48px;
  }
}
.nav-list-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  transition: all 200ms ease-in-out;
}
.nav-list-item-link:hover {
  color: #FE9013;
}
.nav-list-item-link-active {
  color: rgb(249, 128, 75);
}

.petStory-logo {
  display: block;
  width: 82px;
  height: 52px;
  padding: 3.55px 4.75px;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
  border: 1.18841px solid #FFFFFF;
  background-image: url(../../assets/logo/bamboo.svg);
  background-repeat: no-repeat;
  background-position: 8px 24.6px;
  margin-right: 63px;
}

.designed {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  transition: all ease-in-out 200ms;
}
.designed:hover {
  color: #FE9013;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 940px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.watch-your {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  gap: 69px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  display: block;
  width: 298px;
  padding: 16px 4px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  transition: all 200ms ease-in-out;
}
.button:hover {
  background: linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
  cursor: pointer;
}
.button:active {
  background: linear-gradient(113.96deg, #4B9200 1.49%, #4B9200 101.44%);
}
.button-centred {
  margin: 0 auto;
  border-radius: 25px;
}
.button-left {
  border-radius: 5px;
}

.circle {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -74px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
@media screen and (max-width: 1280px) {
  .circle {
    width: 367px;
    height: 367px;
    top: -23px;
    left: -13px;
  }
}

.backstage {
  padding-top: 140px;
  padding-bottom: 175px;
  background-image: url("../../assets/img/flower_foto1.jpg");
  background-position: right 10px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1440px) {
  .backstage {
    padding-top: 100px;
    padding-bottom: 142px;
    background-image: none;
  }
}
.backstage-container {
  display: flex;
  gap: 87px;
}
@media screen and (max-width: 1280px) {
  .backstage-container {
    gap: 31px;
  }
}
.backstage-img {
  max-width: 609px;
  max-height: 403px;
  height: auto;
}
@media screen and (max-width: 1280px) {
  .backstage-img {
    max-width: 455px;
    max-height: 408px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 9px;
  }
}
.backstage-header {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
  margin: 0 0 20px 0;
}
.backstage-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
@media screen and (max-width: 1280px) {
  .backstage-paragraph {
    line-height: 137%;
  }
}
.backstage h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin: 54px 0 34px 0;
}

.pets {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 100px;
  background: url(../../assets/img/palm_foto.jpg), url(../../assets/img/strelitzia.jpg);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
}
@media screen and (max-width: 1440px) {
  .pets {
    padding-bottom: 140px;
    background: url(../../assets/img/palm_small.jpg), url(../../assets/img/strelitzia.jpg);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 19.5%, 24%;
  }
}

.pets-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.pets-carousel-button {
  width: 62px;
  height: 62px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
@media screen and (max-width: 1280px) {
  .pets-carousel-button-left {
    position: absolute;
    top: 369px;
    left: 350px;
  }
}
@media screen and (max-width: 1280px) {
  .pets-carousel-button-right {
    position: absolute;
    top: 369px;
    right: 350px;
  }
}
.pets-carousel-button:hover {
  background: linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
}
.pets-carousel-button:active {
  background: linear-gradient(113.96deg, #4B9200 1.49%, #4B9200 101.44%);
}

.pet-cards {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
}
@media screen and (max-width: 1280px) {
  .pet-cards {
    row-gap: 92px;
    -moz-column-gap: 27px;
         column-gap: 27px;
  }
}

.pet-card {
  width: 366px;
  height: 426px;
  border: 1px solid rgb(254, 144, 19);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .pet-card {
    width: 295px;
    height: 354px;
  }
}
.pet-card-img {
  width: 100%;
  height: 86%;
  transition: all 300ms ease-in-out;
}
@media screen and (max-width: 1280px) {
  .pet-card-img {
    margin-top: -10px;
  }
}
.pet-card-img-active {
  transform: scale(105.4%);
}
.pet-card-content {
  position: absolute;
  top: 364px;
  transition: all 400ms ease-in-out;
  width: 100%;
  background-color: transparent;
}
@media screen and (max-width: 1280px) {
  .pet-card-content {
    top: 293px;
  }
}
.pet-card-content-active {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
}
.pet-card-meal {
  position: absolute;
  right: 13px;
  bottom: 10px;
}
.pet-card h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-left: 16px;
  margin-top: 8px;
  text-transform: uppercase;
}
.pet-card h6 {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  margin-left: 16px;
  margin-bottom: 14px;
}

.pick-friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 69px;
  padding-bottom: 100px;
}
@media screen and (max-width: 1280px) {
  .pick-friend {
    padding-top: 30px;
  }
}
.pick-friend-content {
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 41px 0 59px 0;
}
@media screen and (max-width: 1280px) {
  .pick-friend-content {
    padding: 30px 0 51px 0;
  }
}
.pick-friend-content-header {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #FE9013;
  text-align: center;
}
.pick-friend-content-paragraph1, .pick-friend-content-paragraph2, .pick-friend-content-paragraph3 {
  margin-left: 99px;
}
@media screen and (max-width: 1280px) {
  .pick-friend-content-paragraph1, .pick-friend-content-paragraph2, .pick-friend-content-paragraph3 {
    margin-left: 48px;
  }
}
.pick-friend-content-paragraph1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-top: 30px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1280px) {
  .pick-friend-content-paragraph1 {
    margin-top: 23px;
  }
}
.pick-friend-content-paragraph2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin-bottom: 10px;
}
@media screen and (max-width: 1280px) {
  .pick-friend-content-paragraph2 {
    font-size: 16px;
    margin-top: -21px;
    margin-right: 86px;
    margin-bottom: 10px;
  }
}
.pick-friend-content-paragraph3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  max-width: 863px;
}
@media screen and (max-width: 1280px) {
  .pick-friend-content-paragraph3 {
    font-size: 16px;
    max-width: 842px;
  }
}

.arrow {
  align-self: baseline;
  margin-top: 60px;
}

.underlined {
  text-decoration: underline;
  -webkit-text-decoration-color: #FE9013;
          text-decoration-color: #FE9013;
  color: #333B41;
}

.how-it-work-header {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .how-it-work-header {
    margin-top: 40px;
  }
}

.how-it-work-block {
  display: flex;
  justify-content: center;
  gap: 30.5px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1280px) {
  .how-it-work-block {
    margin-bottom: 69px;
  }
}

.how-it-work-action {
  width: 168px;
  height: 244px;
}
.how-it-work-action-pay, .how-it-work-action-zoo, .how-it-work-action-dish {
  width: 168px;
  height: 168px;
  border: 1px solid;
  -o-border-image: linear-gradient(rgb(250, 111, 50), rgb(254, 144, 19)) 30;
     border-image: linear-gradient(rgb(250, 111, 50), rgb(254, 144, 19)) 30;
  border-radius: 5px;
}
.how-it-work-action-pay {
  background: url(../../assets/img/pay.svg), #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}
.how-it-work-action-zoo {
  background: url(../../assets/img/zoo.svg), #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}
.how-it-work-action-dish {
  background: url(../../assets/img/monkey.svg), #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}
.how-it-work-action-descript {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  margin-top: 30px;
}

.testimonials {
  padding-bottom: 180px;
  background: url("../../assets/img/leav_foto.jpg");
  background-repeat: no-repeat;
  background-position: right 136%;
}
@media screen and (max-width: 1280px) {
  .testimonials {
    padding-bottom: 140px;
    background-position: right 122%;
    background-size: 12.5em;
  }
}
.testimonials-carousel {
  max-width: 1160px;
  overflow: hidden;
}
@media screen and (max-width: 1280px) {
  .testimonials-carousel {
    max-width: 940px;
  }
}
.testimonials-wrapper {
  display: flex;
  gap: 29px;
  width: 1600px;
}
@media screen and (max-width: 1280px) {
  .testimonials-wrapper {
    justify-content: space-between;
    gap: 30px;
    width: 1585px;
  }
}
.testimonials-header {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 47px;
}
@media screen and (max-width: 1280px) {
  .testimonials-header {
    margin-top: 50px;
    margin-bottom: 28px;
  }
}

.testimonial {
  position: relative;
  width: 268px;
  height: 391px;
  background: #F1F3F2;
  border-radius: 20px;
  padding: 15px 14px 12px 18px;
  border: 2px solid rgba(243, 169, 248, 0.66);
  overflow: hidden;
}
@media screen and (max-width: 1280px) {
  .testimonial {
    width: 293px;
    padding: 12px 17px 12px 13px;
  }
}
.testimonial-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}
.testimonial-author-photo {
  float: left;
  margin-right: 10px;
}
.testimonial-author-data {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}
.testimonial-content {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  margin-top: 10px;
}
@media screen and (max-width: 1280px) {
  .testimonial-content {
    margin-top: 15px;
  }
}

.footer {
  background-color: #111115;
  padding-bottom: 50px;
}
.footer-line1 {
  display: flex;
  padding: 41px 0 36px;
  justify-content: space-between;
}
.footer-line2 {
  display: flex;
  margin-top: 44px;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1280px) {
  .subscribe {
    margin-right: 31px;
  }
}
.subscribe-header {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  display: block;
}
.subscribe-input {
  width: 226px;
  height: 42px;
  border: 0.7px solid rgb(249, 128, 75);
  padding: 10px 7px 10px 10px;
  border-radius: 2px;
  background-color: transparent;
  font-size: 16px;
  line-height: 140%;
  color: #767474;
  margin-top: 14px;
  margin-right: 10px;
}
.subscribe-input:focus:invalid {
  border: 2px solid #be0101;
  outline: none;
}
.subscribe-input:focus:invalid ~ .subscribe-submit {
  border: 2px solid #be0101;
  color: #be0101;
}
.subscribe-input:focus:valid {
  border: 1px solid #4B9200;
  color: #4B9200;
  outline: none;
}
.subscribe-submit {
  width: 129px;
  height: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4B9200;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.subscribe-submit:hover {
  background-color: #bac4bf;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 25%;
}
@media screen and (max-width: 1280px) {
  .social-media {
    gap: 5px;
  }
}
.social-media-item {
  display: block;
  align-items: center;
}
.social-media-item:hover {
  cursor: pointer;
}
.social-media-item:hover .social-media-img-background {
  background: #4B9200;
}
.social-media-item:hover .social-media-link {
  color: #4B9200;
}
.social-media-img {
  display: block;
  margin: 5px auto;
}
.social-media-img-background {
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: all ease-in-out 200ms;
}
.social-media-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  vertical-align: super;
  margin-left: 12px;
  transition: all ease-in-out 200ms;
}
@media screen and (max-width: 1280px) {
  .social-media-link {
    margin-left: 9px;
  }
}

.footer-designed {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  transition: all ease-in-out 200ms;
}
.footer-designed:hover {
  color: #4B9200;
}
.footer-designed p:last-child {
  margin-top: 10px;
}

.footer-nav-list-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
  .footer-nav-list {
    justify-content: space-between;
    width: 332px;
    margin-left: -35px;
  }
}

@media screen and (max-width: 1280px) {
  .footer-nav-list .nav-list-item {
    margin-right: 0;
  }
}

input[type=range].styled-slider {
  -webkit-appearance: none;
  width: 599px;
  height: 8px;
  margin: 21px auto 31px;
  display: block;
}
@media screen and (max-width: 1280px) {
  input[type=range].styled-slider {
    margin: 21px auto 52px;
  }
}

input[type=range].styled-slider:focus {
  outline: none;
}

input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 75px;
  height: 6px;
  border-radius: 0;
  background: #FE9013;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: 0px;
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 8px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background: #F5F7F6;
  box-shadow: none;
}/*# sourceMappingURL=style.css.map */