* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
  font-style: normal;
}

a {
  text-decoration: none;
}

.first-block {
  background: url("../../assets/img/GiantPanda.jpg");
  min-height: 780px;
  position: relative;
}
.first-block-header {
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  width: 500px;
  height: 400px;
  top: 74px;
  right: 0px;
  margin: 0;
}
.first-block-header-wrapper {
  position: relative;
  right: 0;
  left: auto;
  top: 12px;
  min-height: 487px;
}
.first-block-header-colored {
  color: #FFEE2E;
}

.header {
  background-color: rgb(0, 0, 0);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  margin-left: 63px;
}
.nav-list-item {
  list-style: none;
  margin-right: 58px;
}
.nav-list-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  transition: all 200ms ease-in-out;
}
.nav-list-item-link:hover {
  color: #FE9013;
}
.nav-list-item-link-active {
  color: rgb(249, 128, 75);
}

.petStory-logo {
  display: block;
  width: 82px;
  height: 52px;
  padding: 3.55px 4.75px;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
  border: 1.18841px solid #FFFFFF;
  background-image: url(../../assets/logo/bamboo.svg);
  background-repeat: no-repeat;
  background-position: 8px 24.6px;
}

.designed {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.watch-your {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  gap: 69px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  display: block;
  width: 298px;
  padding: 16px 4px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  transition: all 200ms ease-in-out;
}
.button:hover {
  background: linear-gradient(113.96deg, #faa94d 1.49%, #f89c74 101.44%);
}
.button-centred {
  margin: 0 auto;
  border-radius: 25px;
}
.button-left {
  border-radius: 5px;
}

.circle {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -74px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.backstage {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url("../../assets/img/flower_foto1.jpg");
  background-position: right 0;
  background-repeat: no-repeat;
}
.backstage-container {
  display: flex;
  gap: 87px;
}
.backstage-img {
  max-width: 609px;
  max-height: 403px;
  height: auto;
}
.backstage-header {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
  margin: 0 0 20px 0;
}
.backstage-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
.backstage h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin: 54px 0 34px 0;
}

.pets {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 100px;
  background: url(../../assets/img/palm_foto.jpg), url(../../assets/img/strelitzia.jpg);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.pets-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pets-carousel-button {
  width: 62px;
  height: 62px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pet-cards {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
}

.pet-card {
  width: 366px;
  border: 1px solid;
  -o-border-image: linear-gradient(rgb(250, 111, 50), rgb(254, 144, 19)) 30;
     border-image: linear-gradient(rgb(250, 111, 50), rgb(254, 144, 19)) 30;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pet-card-img {
  width: 100%;
}
.pet-card-meal {
  margin-right: 13px;
}
.pet-card h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-left: 16px;
  margin-top: 8px;
  text-transform: uppercase;
}
.pet-card h6 {
  font-weight: 300;
  font-size: 15px;
  line-height: 120px;
  color: #000000;
  margin-left: 16px;
  margin-bottom: 14px;
}

.pick-friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 69px;
  padding-bottom: 100px;
}
.pick-friend-content {
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 41px 0 59px 0;
}
.pick-friend-content-header {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #FE9013;
  text-align: center;
}
.pick-friend-content-paragraph1, .pick-friend-content-paragraph2, .pick-friend-content-paragraph3 {
  margin-left: 99px;
}
.pick-friend-content-paragraph1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-top: 30px;
  margin-bottom: 40px;
}
.pick-friend-content-paragraph2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin-bottom: 10px;
}
.pick-friend-content-paragraph3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  max-width: 863px;
}

.underlined {
  text-decoration: underline;
  -webkit-text-decoration-color: #FE9013;
          text-decoration-color: #FE9013;
}

.how-it-work-header {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

.how-it-work-block {
  display: flex;
  justify-content: center;
  gap: 30.5px;
  margin-bottom: 60px;
}

.how-it-work-action {
  width: 168px;
  height: 244px;
}
.how-it-work-action-pay, .how-it-work-action-zoo, .how-it-work-action-dish {
  width: 168px;
  height: 168px;
  border: 1px solid;
  -o-border-image: linear-gradient(rgb(250, 111, 50), rgb(254, 144, 19)) 30;
     border-image: linear-gradient(rgb(250, 111, 50), rgb(254, 144, 19)) 30;
  border-radius: 5px;
}
.how-it-work-action-pay {
  background: url(../../assets/img/pay.svg), #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}
.how-it-work-action-zoo {
  background: url(../../assets/img/zoo.svg), #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}
.how-it-work-action-dish {
  background: url(../../assets/img/monkey.svg), #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}
.how-it-work-action-descript {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  margin-top: 30px;
}

.testimonials {
  padding-bottom: 180px;
  background: url("../../assets/img/leav_foto.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.testimonials-wrapper {
  display: flex;
  gap: 29px;
}
.testimonials-header {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 47px;
}

.testimonial {
  width: 268px;
  height: 391px;
  background: #F1F3F2;
  border-radius: 20px;
  padding: 16px 15px 13px 19px;
  border: 2px solid;
  -o-border-image: linear-gradient(rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66), rgb(224, 216, 240), rgb(234, 247, 254), rgb(234, 247, 254), 30);
     border-image: linear-gradient(rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66), rgb(224, 216, 240), rgb(234, 247, 254), rgb(234, 247, 254), 30);
}
.testimonial-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}
.testimonial-author-photo {
  float: left;
  margin-right: 10px;
}
.testimonial-author-data {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}
.testimonial-content {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  margin-top: 10px;
}

.slider-track {
  width: 599px;
  height: 8px;
  margin: 22px auto 32px;
  border: 0.5px solid rgb(234, 247, 254);
  -o-border-image: linear-;
     border-image: linear-;
  background: #F5F7F6;
  border-radius: 5px;
}

.slider-thumb {
  width: 120px;
  height: 5px;
  background: #FE9013;
  border-radius: 5px;
}

.footer {
  background-color: #000000;
  padding-bottom: 50px;
}
.footer-line1 {
  display: flex;
  padding: 41px 0 36px;
  justify-content: space-between;
}
.footer-line2 {
  display: flex;
  margin-top: 44px;
  justify-content: space-between;
  align-items: flex-end;
}

.subscribe-header {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}
.subscribe-input {
  width: 228px;
  height: 42px;
  border: 0.7px solid rgb(249, 128, 75);
  padding: 10px 7px 10px 10px;
  border-radius: 2px;
  background-color: transparent;
  font-size: 16px;
  line-height: 140%;
  color: #767474;
  margin-top: 14px;
  margin-right: 10px;
}
.subscribe-submit {
  width: 129px;
  height: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4B9200;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social-media-item {
  display: block;
  align-items: center;
}
.social-media-img {
  display: block;
  margin: 5px auto;
}
.social-media-img-background {
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: inline-block;
}
.social-media-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  vertical-align: super;
}

.footer-designed {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */