* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto';
    font-style: normal;
  }
  
  a {
    text-decoration: none;
  }
  
  @mixin fontProperty($font-weight, $font-size, $line-height, $color) {
    font-weight: $font-weight;
    font-size: $font-size;  
    line-height: $line-height;
    color: $color;
  }
  
  $font-color1: #333B41;
  $font-color2: #FE9013;
  $font-color3: #BDBDBD;
  $font-color4: #767474;
  $font-color5: #FFFFFF;
  
  .first-block{
    background: url("../../assets/img/GiantPanda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -120px;
    min-height: 467px;
    position: relative;
    @media screen and (max-width: 1280px) {
      min-height: 470px;
      background-position: -184px -124px;      
      background-size: 164%;
    }
    @media screen and (max-width: 768px) {
      min-height: 369px;
      background-position: -252px -120px;
      background-size: 207%;    
    }  
  }
  
  .header {
    background-color: 
    rgba(0, 0, 0, 1);
  
    &-container{
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0;
      @media screen and (max-width: 768px) {
        padding: 0 20px;
        background-color: #111115;;
      }
    }
    
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    &-list{
      display: flex;
      @media screen and (max-width: 1280px){
        // padding-left: 34px;
      }
      @media screen and (max-width: 980px){
        padding-left: 0;
      }
      @media screen and (max-width: 768px){
        display: none;
      }
    }
  
    &-list-item {
      list-style: none;
      margin-right: 58px;
      @media screen and (max-width: 1280px) {
        margin-right: 42px;
        // letter-spacing: 0.01em;
      }
      
    }
  
    &-list-item-link {
      @include fontProperty(500, 16px, 140%, $font-color5);
      transition: all 200ms ease-in-out;
      @media screen and (max-width: 980px) {
        font-size: 14px;
      }      
  
      &:hover {
        color: $font-color2;
      }
  
      &-active {
        color:rgba(249, 128, 75, 1)
      }
    }  
  }
  
  .petStory-logo {
    display: block;
    width: 82px;
    height: 52px;
    padding: 3.55px 4.75px;
    @include fontProperty(400, 19.0145px, 120%, $font-color5);
    text-align: center;
    border: 1.18841px solid #FFFFFF;
    background-image: url(../../assets/logo/bamboo.svg);
    background-repeat: no-repeat;
    background-position: 8px 24.6px;
    margin-right: 63px;
    @media screen and (max-width: 768px) {
      font-size: 12.2899px;
      border: none;
      background-size: 9%;
      background-position: 22px 14.6px;
      line-height: 110%;
      height: auto;
      margin-left: -17px;
    }
  }
  
  .designed {
    @include fontProperty(500, 16px, 140%, $font-color5);
    transition: all ease-in-out 200ms;
    // @media screen and (max-width: 1280px) {
    //   font-size: 16px;
    //   letter-spacing: 0.03em;  
    // }
    @media screen and (max-width: 980px) {
      font-size: 14px;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  
    &:hover {
      color: $font-color2;
    }
  }
  
  .container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    @media screen and(max-width:1280px){
      max-width: 940px;
    }
    // @media screen and(max-width:980px){
    //   padding-left: 20px;
    //   padding-right: 20px;
    // }
  }
  
  .button {
    @include fontProperty (500, 16px, 140%, $font-color5);
    display: block;
    width: 298px;
    padding: 16px 4px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    transition: all 200ms ease-in-out;
  
    &:hover {
      background:  linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
      cursor: pointer;
    }
  
    &-centred {
      margin: 0 auto;
      border-radius: 25px;
    }
  
    &-left {
      border-radius: 5px;
    }
  }
  
  .pick-friend {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-top: 40px;
    padding-bottom: 184px;
    @media screen and (max-width: 1280px){
      padding: 40px 20px 30px;
    }
    @media screen and (max-width: 768px){
      padding: 30px 20px 47px;
    }  
    &-content {
      background: rgba(253, 253, 255, 0.52);
      backdrop-filter: blur(2px);
      border-radius: 20px;
      padding: 41px 92px 59px;
      @media screen and(max-width: 1280px){
        padding: 19px 47px 46px;
      }
      @media screen and(max-width: 768px){
        padding: 35px 0px 30px;
      }      
      &-header {
        @include fontProperty (400, 48px, 120%,$font-color2);
        text-align: center;
        margin-left: -11px;
        @media screen and(max-width: 1280px){
          margin-bottom: 13px;
        }
        @media screen and(max-width: 768px){
          margin-left: 0;
          letter-spacing: 0;
          margin-left: 0;
          // font-size: 52px;
        }         
      }  
      &-paragraph1 {
        @include fontProperty(400, 24px, 120%, $font-color1);
        margin-top: 25px;
        margin-bottom: 56px;
        text-align: left;
        @media screen and(max-width: 1280px){
          margin-bottom: 13px;
          margin-top: 11px;
        }
        @media screen and(max-width: 768px){
          margin-bottom: -8px;
          margin-top: 21px;
          padding: 0 19px;
          text-align: center;
          font-size: 24px;
          line-height: 113%;
        }
      }  
    }

    &-message {
      @include fontProperty(400, 36px, 130%, $font-color5);
      text-transform: uppercase;
      margin-bottom: 10px;
      @media screen and (max-width:1280px){
        max-width: 773px;
        margin-bottom: 30px;
      }
      @media screen and (max-width:768px){
        max-width: 773px;
        margin-bottom: 19px;
        @include fontProperty(400, 24px, 120%, $font-color5);
      }
      &-info {
          @include fontProperty(500, 16px, 140%, $font-color5);
          margin-bottom: 42px;
          @media screen and (max-width: 1280px){
            margin-bottom: 45px;
          }
          @media screen and (max-width: 768px){
            margin-bottom: 26px;
          }
      }
    }

    &-header {
        @include fontProperty(400, 36px, 130%, $font-color2);
        margin-bottom: 60px;
        @media screen and(max-width:1280px){
          margin-bottom: 40px;
          letter-spacing: 0;
          // font-size: 39px;
        }
        @media screen and(max-width: 768px){
          margin-bottom: 28px;
          // font-size: 52px;
              // letter-spacing: -1.5px;
        }
    }
  }

  
  .arrow {
    align-self: baseline;
    margin-top: 60px;
  }
  
  .underlined {
    text-decoration: underline;
    text-decoration-color: $font-color2;
    color: $font-color1;
  }
  
  .how-it-work-header {
    @include fontProperty(400, 36px, 130%, $font-color1);
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .how-it-work-block{
    display: flex;
    justify-content: center;
    gap: 30.5px;
    margin-bottom: 60px;
  }
  
  .how-it-work-action {
    width: 168px;
    height: 244px;  
  
    &-pay,
    &-zoo,
    &-dish {
      width: 168px;
      height: 168px;
      border: 1px solid;    
      border-image: linear-gradient(rgba(250, 111, 50, 1), rgba(254, 144, 19, 1)) 30;
      border-radius: 5px;    
    }
  
    &-pay {
      background: url(../../assets/img/pay.svg), #FFFFFF;
      background-repeat: no-repeat;
      background-position: center;
    }
    &-zoo {
      background: url(../../assets/img/zoo.svg), #FFFFFF;
      background-repeat: no-repeat;
      background-position: center;
    }
    &-dish {
      background: url(../../assets/img/monkey.svg), #FFFFFF;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    &-descript {
      @include fontProperty(400, 16px, 140%, $font-color1);
      margin-top: 30px;
    }
  }
  
  .footer {
    background-color: #111115;;
    padding-bottom: 50px;
    position: relative;
    @media screen and (max-width: 768px) {
      padding-bottom: 0;
      min-height: 252px;
    }

    &-container {
      @media screen and (max-width: 768px) {
        padding: 15px 20px 20px;
      }
    }

    &-nav-list {
      @media screen and (max-width: 1280px) {
        margin-left: 44px;
      }
      @media screen and (max-width: 768px) {
        display: block;
        left: 21px;
        bottom: 18px;
        display: block;
        position: absolute;
        display: flex;
        margin-left: 0;
      }
    }
  
    &-line1 {
      display: flex;
      padding: 41px 0 36px;
      justify-content: space-between;
      @media screen and (max-width: 1280px){
        padding: 41px 31px 36px 0;
      }
      @media screen and (max-width: 768px){
        padding:  0;
        margin-bottom: 28px;
      }
    }
  
    &-line2 {
      display: flex;
      margin-top: 44px;
      justify-content: space-between;
      align-items: flex-end
    }
  
  }
  
  .subscribe { 
    @media screen and (max-width: 768px) {
      display: none;
    } 
    &-header {
      @include fontProperty(400, 24px, 120%, $font-color5);
      display: block;
      @media screen and (max-width: 768px) {
        // letter-spacing: 0.6px;
      }
    }
  
    &-input {
      width: 228px;
      height: 42px;
      border: 0.7px solid rgba(249, 128, 75, 1);
      padding: 10px 7px 10px 10px;
      border-radius: 2px;
      background-color: transparent;
      font-size: 16px;
      line-height: 140%;
      color: $font-color4;
      margin-top: 14px;
      margin-right: 10px;
  
      &:focus:invalid {
        border: 2px solid #be0101;
        outline: none;
      }
  
      &:focus:invalid ~ .subscribe-submit {
        border: 2px solid #be0101;
        color: #be0101;
      }
  
      &:focus:valid {
        border: 1px solid #4B9200;
        color: #4B9200;
        outline: none;      
      }
      
    }
  
    &-submit {
      width: 129px;
      height: 42px;
      @include fontProperty(400, 16px, 140%, #4B9200);
      background: #F1F3F2;
      border: 1px solid #4B9200;
      border-radius: 5px;
      transition: all 200ms ease-in-out;
  
      &:hover{
        background-color: darken($color: #F1F3F2, $amount: 20);
      }
      
    }
  
  }
  
  .social-media {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 25%;
    @media screen and (max-width: 768px) {
      position: absolute;
      right: 20px;
      bottom: 106px;
      gap: 17px;
      width: auto;
    }
  
    &-item {
      display: block;
      align-items: center;
  
      &:hover {
        cursor: pointer;
      }
  
      &:hover .social-media-img-background{
        background: #4B9200;
      }
  
      &:hover .social-media-link {
        color: #4B9200;
      }
    }
  
    &-img {
      display: block;
      margin: 5px auto;
    }
    
    &-img-background {
      width: 26px;
      height: 26px;
      background: rgba(196, 196, 196, 0.5);
      border-radius: 50%;
      display: inline-block;
      transition: all ease-in-out 200ms;
    }
  
    &-link {
      @include fontProperty(300, 16px, 140%, $font-color5);
      vertical-align: super;
      margin-left: 12px;
      transition: all ease-in-out 200ms;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }  
  
  }
  
  .footer-designed {
    @include fontProperty(100, 16px, 130%, $font-color5 );
    transition: all ease-in-out 200ms;
    @media screen and (max-width: 1280px) {
      margin-top: 20px;
    }
  
    &:hover {
      color: #4B9200;
    }
  
    & p:last-child{
      margin-top: 10px;
    }
  }
  
  .footer-nav-list-item-link{
    @include fontProperty(400, 16px, 140%, $font-color5);
    // @media screen and (max-width: 980px) {
    //   font-size: 14px;
    // }
  }

  .share-link {
    @include fontProperty(400, 16px, 140%, $font-color1);
    display: block;
    margin-top: 30px;
    text-align: center;
    @media screen and (max-width:1280px) {
      // letter-spacing: 0.6px;
    }
  }

  .diet {
    display: flex;
    gap: 64px;
    justify-content: center;
    margin-bottom: 48px;
    @media screen and (max-width: 1280px){
      margin-top: 58px;
    }
    @media screen and (max-width: 768px){
      margin-bottom: 41px;
    }


    &-number {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 11px;
      margin-top: 55px;
      margin-left: 14px;
      width: 162px;

      &-info {
        margin-left: -23px;
        @media screen and (max-width: 1280px) {
          letter-spacing: 0.6px;
        }
        @media screen and (max-width: 768px) {
          letter-spacing: 0;
        }    
      }

      &-wrapper {
        display: flex;
        gap: 60px;
        justify-content: end;
        align-items: center;
        @media screen and (max-width:1280px) {
          gap: 65px;
        }

        & img {
          margin-top: 10px;
        }
      }

      &-char {
        @include fontProperty(500, 72px, 80%,  #000000)
      }

    }
  }

  .amount-header {
    @include fontProperty(400, 16px, 140%, #000000);
    margin-bottom: 17px;
    @media screen and (max-width: 768px) {
      margin-left: 10px;
      margin-bottom: 7px;
    }
  }

  .amount-inputs {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 27px;
    border-radius: 2px;
    background: url(../../assets/img/Rectangle12.svg), #404950;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0 12px;
    @media screen and (max-width: 1280px) {
      margin: 0 auto;
      padding: 0 0;
      background: #404950;
    }
    @media screen and (max-width: 768px) {
      margin: 0 auto;
      padding: 0 20px;
      background: #404950;
    }
  }
  
  .amount-inputs::before {
    content: "";
    position: absolute;
    display: block;    
    height: 100%;
    background: url(../../assets/img/Rectangle12.svg), ;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;    
    @media screen and (max-width: 1280px){
      left: 20px;
      width: calc(100% - 40px);      
    }
    @media screen and (max-width: 768px){      
      left: 40px;
      width: calc(100% - 80px);      
    }
  }




  .amount-input {
      width: 40px;
      height: 40px;
      display: block;
      background: url(../../assets/img/Ellipse9.svg);
      background-position: center;
      background-repeat: no-repeat;
      -webkit-appearance: none;
      transition: all 200ms ease-in-out;
      position: relative;
      z-index: 2;

      &:hover {
        background: url(../../assets/img/Ellipse9.svg), url(../../assets/img/roller_icon.svg);
        background-position: center center;
        background-repeat: no-repeat no-repeat;
      }

      &:checked {
        background: url(../../assets/img/Ellipse9.svg), url(../../assets/img/roller_icon.svg);
        background-position: center center;
        background-repeat: no-repeat no-repeat;
      }     
  }

  .amount-values {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-left: -26px;
    margin-right: -20px;
    padding-left: 0;
    padding-right: 0px;
    @include fontProperty(500, 26px, 140%,  #333B41);
    @media screen and (max-width: 1280px) {
      margin-left: -15px;
      margin-right: -42px;
    }
    @media screen and (max-width: 768px) {
      margin-left: 8px;
      margin-right: 6px;
    }
    

    & label {
      width: 12.5%;
      text-align: center;
    }

    & label:hover {
      color:#FE9013;
    }

    &-active {
      color:#FE9013;
    }
  }

  .amount-range {
    @media screen and (max-width: 1280px) {
      padding: 0 20px;
      margin: 0 auto;
      // width: 96%;
    }
    @media screen and (max-width: 768px) {
      padding: 0 0;

    }
  }
  .amount-input[id=amount-5000],
  label[for=amount-5000] {
    @media screen and (max-width: 1280px) {
      display: none;
    }
  }

  .amount-input[id=amount-2000],
  label[for=amount-2000],
  .amount-input[id=amount-1000],
  label[for=amount-1000]  {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }


  .another-amount {
    display: block;
    width: 268px;
    height: 54px;
    margin: 50px auto 25px;
    border: 1px solid #929699;
    border-radius: 2px;
    padding-left: 14px;
    background: transparent;
    position: relative;
    @include fontProperty(400, 16px, 140%,#929699);
    @media screen and (max-width: 768px) {
      width: 180px;
      height: 42px;
      margin: 50px auto 32px;
      padding-left: 6px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;     
    }

    &:focus {
      outline: none;
    }

    &-periodicy {
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      border: 1px solid #FE9013;
      border-radius: 50%;
      text-align: center;
      margin-right: 10px;

      &:checked {
        background-color: #4B9200;
        border: 1px solid #4B9200;
      } 
    }

    &-label {
      @include fontProperty(400, 16px, -140%, #333B41);
      text-align: center;
    }
  }
  
  .periodicy {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
    padding-right: 11px;
  }

  .another-amount-container{
    position: relative;
  }

  .dollar {    
    position: absolute;
    left: calc(100%/2 + 115px);
    top: 15px;
    @media screen and (max-width: 768px){
      left: calc(100%/2 + 72px);
      top: 10px;
  }
}

.burger-button {
  display: none;
  @media screen and (max-width: 768px){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 19px;
    height: 11px;
    top: 0px;
    left: 0px;
  }
}

.burger-line1,
.burger-line2,
.burger-line3 {
  width: 100%;
  height: 2px;
  background-color: #fcfafa;;;
}
